@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/global.scss" as *;

.Gallery {
  display: flex;
<<<<<<< HEAD
=======
    // height: 70vh;
    // width: 100vw;
>>>>>>> 3f35673bc5cacb33752354234ae3d6761ddf5487

    &__images{
        height: 100%;
        width: 100%;
     
    }
}