.Banner {
  &-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    &-image1 {
      background-image: url("../../assets/desktop/image-transform.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 25rem;
    }
    &-statement {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
      padding: 0rem 3rem;
    }
    &-image2 {
      background-image: url("../../assets/desktop/image-stand-out.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 25rem;
    }
    &-image3 {
      background-image: url("../../assets/desktop/image-graphic-design.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 25rem;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      &-statement {
        text-align: center;
        width: 60%;
      }
    }
    &-image4 {
      background-image: url("../../assets/desktop/image-photography.jpg");
      background-position: center;
      background-size: cover;
      height: 25rem;
      background-repeat: no-repeat;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      &-statement {
        text-align: center;
        width: 60%;
      }
    }
  }
}
@media (max-width: 375px) {
  .Banner {
    &-section {
      display: flex;
      flex-direction: column;

      &-statement {
        padding: 3rem 0rem;
        text-align: center;
        margin: auto;
        width: 70%;
        gap: 1rem;
      }
    }
    .second {
      flex-direction: column-reverse;
    }
  }
}
